[submodule "tools/riscv-torture"]
	path = tools/riscv-torture
	url = https://github.com/twistedpeer/fear5-torture.git
	branch = fear5
[submodule "tools/csmith"]
	path = tools/csmith
	url = https://github.com/csmith-project/csmith.git
